.tooltip {
    position: relative;
    display: inline;
    margin-bottom: -2px;
    padding-bottom: 0;
    border-bottom: 1px dashed #999;
}

/*
.tooltip:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(ttitle);
    left: 20%;
    padding: 5px 10px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}*/

#rules {
    font-size: 10pt;
    font-family: sans-serif;
    line-height: 15pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    padding-left: 2.2em;
}

#rules p, p.rulesBody {
    padding: 0;
    margin: 0;
    font-size 1em;
    font-family: sans-serif;
}

table.handSignals, table.fieldDiagram, table.normal {
    border-collapse: collapse;
    font-size: 1em;
    font-weight: normal;
    margin: .2em 0 1em 1em;
}

table.handSignals, table.fieldDiagram, table.normal, 
table.handSignals th, table.fieldDiagram th, table.normalth th, 
table.handSignals td, table.fieldDiagram td, table.normal td {
    border: 1px solid black;
    padding: .4em;
}

table.handSignals, table.fieldDiagram, table.handSignals th, table.handSignals td, table.fieldDiagram th, table.fieldDiagram td {
    border: none;
}

#youth td {
    vertical-align: top;
}

.handSignals img {
    max-height: 120px;
}

.handSignals {
    text-align: center;
}

.handSignals td {
    padding-top: 0;
    width: 200px;
}

.handSignals .desc td {
    padding-bottom: 3em;
}

#field_lines {
    width: 30px;
}

#field_line_names {
    padding-top: 9px;
}

.fieldSizeHeader {
    text-decoration: underline;
}

.toc ol li {
    font-weight: normal;
}

#rules h2 {
    font-size: 1em;
    margin-bottom: .5em;
    font-weight: bold;
}

.appendix_list {
    margin: -1em 0 -1em 0em;
    padding: 1em 0;
}

p#prefaceBody {
    font-style: italic;
    font-size: 1em;
    margin-bottom: 1em;
}

p#preface_title {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1em;
}

.annotation {
    color: darkcyan;
}

#rules ol {
    list-style-position: outside;
    list-style-type: decimal;
    font-weight: bold;
}
#rules ol ol, .appendix > ol ol {
    list-style-type: upper-alpha;
    font-weight: normal;
}
#rules ol ol ol, .appendix > ol ol ol {
    list-style-type: decimal;
}
#rules ol ol ol ol, .appendix > ol ol ol ol {
    list-style-type: lower-alpha;
}
#rules ol ol ol ol ol, .appendix > ol ol ol ol ol {
    list-style-type: decimal;
}
#rules ol ol ol ol ol ol, .appendix > ol ol ol ol ol ol {
    list-style-type: lower-alpha;
}

.appendixTitle {
    font-weight: bold;
    margin: 1em 0;
}

.appendix {
    font-weight: normal;
}

div.appendixTitle + div.rulesBody, div.rulesBody + div.rulesBody {
    margin: 1em 0;
}

.appendix > ol {
    font-size: 1em;
    font-weight: bold;
    counter-reset: item;
    list-style-type: none;
    *list-style-type: decimal; /*Conditional hack for ie7*/
}

.appendix > ol > li {
    margin-left: -1.3em;
}

.appendix > ol > li:before {
    padding-left: -1.8em;
    content: 'E' counter(item, decimal) '. ';
    counter-increment: item;
}

.e > ol> li:before {
    content: 'E' counter(item, decimal) '. ';    
}

.d > ol> li:before {
    content: 'D' counter(item, decimal) '. ';    
}

.c > ol> li:before {
    content: 'C' counter(item, decimal) '. ';    
}

.b > ol> li:before {
    content: 'B' counter(item, decimal) '. ';    
}

.a > ol> li:before {
    content: 'A' counter(item, decimal) '. ';    
}

