// Tooltip
.tooltip {
    position: relative;
    display: inline;
    margin-bottom: -2px;
    padding-bottom: 0;
    border-bottom: 1px dashed #999;
}



// Hand Signals
.handSignals img {
    max-height: 120px;
}

.handSignals {
    text-align: center;
}

.handSignals td {
    padding-top: 0;
    width: 200px;
}

.handSignals .desc td {
    padding-bottom: 3em;
}

table.handSignals, table.fieldDiagram, table.normal {
    border-collapse: collapse;
    font-size: 1em;
    font-weight: normal;
    margin: .2em 0 1em 1em;
}

table.handSignals, table.fieldDiagram, table.normal, 
table.handSignals th, table.fieldDiagram th, table.normalth th, 
table.handSignals td, table.fieldDiagram td, table.normal td {
    border: 1px solid black;
    padding: .4em;
}

table.handSignals, table.fieldDiagram, table.handSignals th, table.handSignals td, table.fieldDiagram th, table.fieldDiagram td {
    border: none;
}




#field_lines {
    width: 30px;
}

#field_line_names {
    padding-top: 9px;
}

.fieldSizeHeader {
    text-decoration: underline;
}


.annotation {
    color: darkcyan;
}


#youth td {
    vertical-align: top;
}