.toc {
    border: 1px solid #002B5C;
    padding: 1rem 2rem;
    max-width: 320px;
}

.toc ol {
    margin-left: 1.5rem;
}

.toc ol li {
    font-weight: normal;
}

.toc-header {
    padding-bottom: 0.5rem;
}

.appendix_list {
    padding: 1em 0;
}
