.table-of-contents {
    border: 1px solid #002B5C;
    padding: 2rem;
    max-width: 340px;

    ol {
        margin-left: 1.5rem;
    
        li {
            font-weight: normal;
        }
    }
    
    .toc-header {
        padding-bottom: 0.5rem;
    }
    
    .toc-preface {
        padding: 0 0 0.5rem 0;
    }

    .toc-appendix {
        padding: 0.5rem 0 1rem 0;

        p + p {
            padding-top: 0.5rem;
        }
    }    
}

