<li><a id="5"></a>Equipment
<ol>
    <li><a id="5.A"></a>Any disc acceptable to both team <span class="tooltip" title="A team member, who is eligible to participate in the game, and has been designated to represent the team in decision-making on behalf of the team before, during, and after a game.">captains</span> may be used. If they cannot agree, the current Official Disc of USA Ultimate is used.
    <li><a id="5.B"></a>Players may wear any soft clothing that does not endanger the safety of other players or provide unfair advantage.
    <li><a id="5.C"></a>Cleats with dangerous parts, such as metallic baseball cleats, track spikes, or worn or broken studs with sharp edges, are not allowed.
    <li><a id="5.D"></a>Each player must wear a uniform or other clothing distinguishing that player from players on the other team. In tournament play, matching uniforms and numbered jerseys are recommended.
    <li><a id="5.E"></a>Players may not use clothing or equipment to unfairly inhibit or assist the movement of the disc or another player.
</ol>