<li><a id="8"></a>Player Substitutions
<ol>
    <li><a id="8.A"></a>Player substitutions can be completed only:
    <ol>
        <li><a id="8.A.1"></a>after a goal and before the substituting team has signaled readiness; or
        <li><a id="8.A.2"></a>to replace injured players, or players with illegal equipment. In this case, the opposing team may substitute a like number of, or fewer, players.
    </ol>
    <li><a id="8.B"></a>Substitutions are not permitted following a re-pull call, unless in accordance with <a href="#8.A.2">8.A.2</a>.
</ol>