<div class="appendix e">
    <div class="appendixTitle"><a id="appendix_e"></a>Appendix E: Beach Ultimate Rules Adaptations</div>

    <div class="rulesBody">The following adaptations to the rules are to be used in beach or sand ultimate competitions. These adaptations may be additions to the current official rules or may supersede existing rules. Other than these additions and changes, the current official rules will apply to beach or sand competition.</div>
    <ol>
        <li><a id="E1"></a>Number of Players
        <ol>
            <li>The recommended number of players per team is either five (5) or four (4).
        </ol>
        <li><a id="E2"></a>Playing Field
        <ol>
            <li><a id="E2.A"></a>5v5 Field Dimensions
            <ol>
                <li>The standard field of play, including end zones, is 82 yards (75 meters) long and 27 yards (25 meters) wide. 
                <li>The standard end zone is 16 yards (15 meters) deep.
                <li>The brick marks are located 11 yards (10 meters) from the goal line.
            </ol>
            <li><a id="E2.B"></a>4v4 Field Dimensions
            <ol>
                <li>The standard field of play, including end zones, is 50 yards (45 meters) long and 30 yards (27 meters) wide. 
                <li>The standard end zone is 8 yards (7.5 meters) deep.
                <li>The brick marks are located 8 yards (7.5 meters) from the goal line.
            </ol>
            <li><a id="E2.C"></a>Perimeter and end zone lines are established with field lining tape (preferred) or rope.
            <ol>
                <li>The top of the tape is the portion of the field tape that is facing upwards. Should the tape twist along its length, the "top" is always the side that is facing up, even if that changes along the length.
            </ol>
            <li><a id="E2.D"></a>The top of the perimeter lines is not part of the playing field and is out-of-bounds.
            <li><a id="E2.E"></a>The area directly under the perimeter lines and all parts of the perimeter lines excluding the top of the tape are part of the playing field and in-bounds.
            <li><a id="E2.F"></a>The top of the goal line is part of the central zone.
            <li><a id="E2.G"></a>The area directly under the goal line and all parts of the goal line excluding the top of the tape are part of the end zone.
        </ol>
        <li><a id="E3"></a>Equipment
        <ol>
            <li><a id="E3.A"></a>Shoes and cleats are not allowed. Players' feet must be bare or only have a soft covering such as socks or tape.
        </ol>
        <li><a id="E4"></a>Length of Game
        <ol>
            <li><a id="E4.A"></a>A standard game has
            <ol>
                <li><a id="E4.A.1"></a>a game total of 13,
                <li><a id="E4.A.2"></a>a soft caap at 50  minutes,
                <li><a id="E4.A.3"></a>a hard cap at 60 minutes,
                <li><a id="E4.A.4"></a>a halftime of 5 minutes, and
                <li><a id="E4.A.5"></a>1 team timeout per game.
            </ol>
        </ol>
        <li><a id="E5"></a>Sand Stoppages
        <ol>
            <li><a id="E5.A"></a>Any player may briefly extend a <span class="tooltip" title="Any halting of play due to a call, discussion, or timeout that requires a check or self-check to restart play. The term play stops means a stoppage of play occurs.">stoppage of play</span> to remove interfering sand from their face, but active play may not be stopped for this purpose.
        </ol>
        <li><a id="E6"></a>Sand Fouls
        <ol>
            <li><a id="E6.A"></a>A sand foul occurs when a player causes sand to fly into an opponent's face in a way that significantly interferes with their play, such as in the eyes or up their nose. 
            <li><a id="E6.B"></a>A sand foul is considered distinct and separate to the action that caused it and should be resolved separately as such.
        </ol>
    </ol>
</div>