<div class="appendix d">
    <div class="appendixTitle"><a id="appendix_d"></a>Appendix D: Youth Rules Adaptations</div>
    <div class="rulesBody">The following adaptations to the rules are recommended for youth ultimate competitions, as defined below. These adaptations may be additions to the current official rules or may supersede existing rules. Other than these additions and changes, the current official rules will apply to youth competition. </div>
    <div class="rulesBody">The goals for Youth Rules Adaptations are to modify the game to make it both safer and more developmentally appropriate for various age groups. The current age categories are a general approximation of development levels, and are also in part based on factors such as school levels and the breakdown of current age groups participating in the sport. These are likely to become more refined in the future.</div>
    <ol>
        <li><a id="D1"></a>Requirements
        <ol>
            <li><a id="D1.A"></a>There are not currently any requirements for rules adaptations for youth under this edition of the rules. Requirements are likely to come in future editions based on continued research and experience with adapting the sport for youth age groups.
        </ol>
        <li><a id="D2"></a>Recommendations
        <ol>
            <li><a id="D2.A"></a>These rule adaptations are not required, but are optional recommendations taken in whole or in part, to help younger players learn to play in a more developmentally appropriate environment.
        </ol>
    </ol>

    <table class="normal" id="youth">
        <colgroup>
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
        </colgroup>  

        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>Under-12</td>
                <td>Under-15</td>
                <td>Under-17/20</td>
            </tr>
            <tr>
                <td>Foot blocks</td>
                <td>Not allowed. <br/>If a marker blocks a throw with a non-planted foot or leg, it is considered a marking foul.</td>
                <td>Standards rules. <br/>Emphasis must be placed by coaches on proper technique and decision-making, especially for new players.</td>
                <td>Standards rules. <br/>Emphasis must be placed by coaches on proper technique and decision-making, especially for new players.</td>
            </tr>
            <tr>
                <td>Layout on Defense</td>
                <td>Not allowed. <br/>Diving for a block on defense is considered a receiving foul.</td>
                <td>Allowed without contact. <br/>Any contact with another player before, during, or after the play is considered a receiving foul. This includes incidental contact that did not affect the play. <br/>Emphasis must be placed by coaches on proper technique and decision-making.</td>
                <td>Standard rules. <br/>Emphasis must be placed by coaches on  proper technique and decision-making to avoid contact.</td>
            </tr>
            <tr>
                <td>Number of players on the field</td>
                <td>4v4 or 3v3</td>
                <td>6v6 or 5v5</td>
                <td>7v7</td>
            </tr>
            <tr>
                <td>
                    Field size (yards)<br />
                    Length: Central Zone (goal line to goal line)
                </td>
                <td>
                    <span class="fieldSizeHeader">3v3</span><br />
                    Length: 25-35<br />
                    Width: 15-20<br />
                    End Zone: 5-10<br />
                    Brick: 7-10<br /><br />
                    <span class="fieldSizeHeader">4v4</span><br />
                    Length: 35-45<br />
                    Width: 20-25<br />
                    End Zone: 10-15<br />
                    Brick: 10-13
                </td>
                <td>
                    <span class="fieldSizeHeader">5v5</span><br />
                    Length: 45-55<br />
                    Width: 25-35<br />
                    End Zone: 12-18<br />
                    Brick: 13-16<br /><br />
                    <span class="fieldSizeHeader">6v6</span><br />
                    Length: 55-65<br />
                    Wide 30-35<br />
                    End Zone 15-20<br />
                    Brick: 16-18
                </td>
                <td>Standard rules.</td>
            </tr>
            <tr>
                <td>Game length</td>
                <td>Game Total <br />(range 9-11)<br />Hard Time Cap<br />(range 45-60 minutes)</td>
                <td>
                    Game Total<br />(range 11-13)<br /><br />
                    Hard Time Cap<br />(range 60-75 minutes)
                </td>
                <td>
                    Game Total<br />(range 13-15)<br /><br />
                    Hard Time Cap<br />(range 60-90 minutes)
                </td>
            </tr>
            <tr>
                <td>Disc size</td>
                <td>USA Ultimate-approved "Youth Level U-12" disc</td>
                <td>USA Ultimate-approved 175g disc</td>
                <td>USA Ultimate-approved 175g disc</td>
            </tr>
            <tr>
                <td>Pre-stall</td>
                <td>None</td>
                <td>None</td>
                <td>Standard rules.</td>
            </tr>
            <tr>
                <td>Travel calls</td>
                <td>Standard rules. <br />Coaches encouraged to teach pivoting and not calling insignificant traveling violations.</td>
                <td>Standard rules. <br />Coaches encouraged to teach pivoting and not calling insignificant traveling violations.</td>
                <td>Standard rules.</td>
            </tr>
            <tr>
                <td>Dropped pull</td>
                <td>
                    Not a turnover.<br />
                    Play from where disc was dropped. <br />
                    No stoppage.<br />
                    Intended to teach catching the pull, not to be used simply to knock the pull out of the air.
                </td>
                <td>
                    Not a turnover.<br />
                    Play restarts with a defensive check after players on both teams have set up. <br />
                    Intended to teach catching the pull, not to be used simply to knock the pull out of the air.
                </td>
                <td>Standard rules.</td>
            </tr>
            <tr>
                <td>Disc space</td>
                <td>Marking distance extended from disc width to arms-length.</td>
                <td>Marking distance extended from disc width to arms-length.</td>
                <td>Standard rules.</td>
            </tr>
            <tr>
                <td>Spiking</td>
                <td>
                    Not allowed by default. Only allowed if <span class="tooltip" title="A team member, who is eligible to participate in the game, and has been designated to address, discuss, and resolve spirit issues at any point throughout the competition with opponents, teammates, coaches, and game or event officials. If no spirit captain is designated, this role is assigned to the captain(s).">spirit captains</span>/<span class="tooltip" title="A team member who has been officially recognized by event organizers to have met the requirements necessary for coaching, including but not limited to certification, screening, education, and registration. Coaches are permitted in areas where sideline players are allowed, during and between points, in accordance with event rules. Coaches are not permitted to make calls or contribute to the discussion or resolution of calls, except to clarify rules if requested.">coaches</span> agree ahead of time.
                </td>
                <td>
                    Not allowed by default. Only allowed if <span class="tooltip" title="A team member, who is eligible to participate in the game, and has been designated to address, discuss, and resolve spirit issues at any point throughout the competition with opponents, teammates, coaches, and game or event officials. If no spirit captain is designated, this role is assigned to the captain(s).">spirit captains</span>/<span class="tooltip" title="A team member who has been officially recognized by event organizers to have met the requirements necessary for coaching, including but not limited to certification, screening, education, and registration. Coaches are permitted in areas where sideline players are allowed, during and between points, in accordance with event rules. Coaches are not permitted to make calls or contribute to the discussion or resolution of calls, except to clarify rules if requested.">coaches</span> agree ahead of time.
                </td>
                <td>
                    Not allowed by default. Only allowed if <span class="tooltip" title="A team member, who is eligible to participate in the game, and has been designated to address, discuss, and resolve spirit issues at any point throughout the competition with opponents, teammates, coaches, and game or event officials. If no spirit captain is designated, this role is assigned to the captain(s).">spirit captains</span>/<span class="tooltip" title="A team member who has been officially recognized by event organizers to have met the requirements necessary for coaching, including but not limited to certification, screening, education, and registration. Coaches are permitted in areas where sideline players are allowed, during and between points, in accordance with event rules. Coaches are not permitted to make calls or contribute to the discussion or resolution of calls, except to clarify rules if requested.">coaches</span> agree ahead of time.
                </td>
            </tr>
            <tr>
                <td>Zone defense</td>
                <td>Not allowed. Must play match-up or person-to-person. 
                    <br />Switching and poaching to provide help are allowed, but no defense designed to cover spaces rather than players.</td>
                <td>Standard rules.</td>
                <td>Standard rules.</td>
            </tr>
            <tr>
                <td>Dangerous play/receiving fouls</td>
                <td>Ultimate is a non-contact sport. Incidental contact can occur, but unlike some sports, blatant bumping and physicality are not acceptable. Please play safely and avoid contact whenever possible.</td>
                <td>Ultimate is a non-contact sport. Incidental contact can occur, but unlike some sports, blatant bumping and physicality are not acceptable. Please play safely and avoid contact whenever possible.</td>
                <td>Ultimate is a non-contact sport. Incidental contact can occur, but unlike some sports, blatant bumping and physicality are not acceptable. Please play safely and avoid contact whenever possible.</td>
            </tr>
        </tbody>
    </table>
</div>