<div class="appendix c">
    <div class="appendixTitle"><a id="appendix_c"></a>Appendix C: Hand Signals</div>

    <ol>
        <li><a id="C1"></a>Player and Observer Hand Signals

        <table class="handSignals">
            <tbody>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/in_out_of_bounds.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/up.jpg" /><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/down.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/end_zone.jpg" /></td>
                </tr>
                <tr class="desc">
                    <td>In- or out-of-bounds</td>
                    <td>Disc up or down</td>
                    <td>In the end zone</td>
                </tr>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/goal.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/force_out.jpg" /></td>
                    <td><br /><br />Artwork<br />Pending</td>
                </tr>
                <tr class="desc">
                    <td>Goal</td>
                    <td>Force-out foul</td>
                    <td>Bobble</td>
                </tr>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/foul.jpg" /></td>
                    <td><br /><br />Artwork<br />Pending</td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/contest.jpg" /></td>
                </tr>
                <tr class="desc">
                    <td>Foul</td>
                    <td>No contest</td>
                    <td>Contest</td>
                </tr>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/retract.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/injury.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/uncatchable.jpg" /></td>
                </tr>
                <tr class="desc">
                    <td>Retraction (3 swipes)</td>
                    <td>Injury timeout</td>
                    <td>Disc uncatchable</td>
                </tr>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/travel.jpg" /></td>
                    <td><br /><br />Artwork<br />Pending<br />(consistent with WFDF)
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/stall.jpg" /></td>
                </tr>
                <tr class="desc">
                    <td>Travel</td>
                    <td>Pick</td>
                    <td>Stall or time violation</td>
                </tr>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/ready.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/play_stopped.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/stall_count.jpg" /></td>
                </tr>
                <tr class="desc">
                    <td>Readiness or brick</td>
                    <td>Play has stopped</td>
                    <td>Announce stall (use appropriate number of fingers)</td>
                </tr>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/double_team.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/disc_space.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/fast_count.jpg" /></td>
                </tr>
                <tr class="desc">
                    <td>Double team/td>
                    <td>Disc space</td>
                    <td>Fast count</td>
                </tr>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/vision_blocking.jpg" /></td>
                    <td><br /><br />Artwork<br />Pending<br />(arms out to the side like a T) </td>
                    <td><br /><br />Artwork<br />Pending<br />(hands behind head, elbows out)</td>
                </tr>
                <tr class="desc">
                    <td>Vision blocking</td>
                    <td>Gender ratio: 4 women</td>
                    <td>Gender ratio: 4 men</td>
                </tr>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/offsides.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/ten.jpg" /><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/twenty.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/chop.jpg" /></td>
                </tr>
                <tr class="desc">
                    <td>Offsides</td>
                    <td>10/20 seconds</td>
                    <td>Pre-stall count</td>
                </tr>
                <tr>
                    <td><br /><br />Artwork<br />Pending<br /></td>
                    <td><br /><br />Artwork<br />Pending<br />(consistent with WFDF)</td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/injury_sub.jpg" /></td>
                </tr>
                <tr class="desc">
                    <td>Timeout</td>
                    <td>Spirit timeout</td>
                    <td>Injury substitution</td>
                </tr>
            </tbody>
        </table>

        <li><a id="C2"></a>Observer Only Hand Signals

        <table class="handSignals">
            <tbody>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/injury.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/retract.jpg" /></td>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/ready.jpg" /></td>
                </tr>
                <tr class="desc">
                    <td>Observer ruling</td>
                    <td>Observer overrule</td>
                    <td>Call on field</td>
                </tr>
                <tr>
                    <td><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/observer_timeout.jpg" /></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="desc">
                    <td>Timeout</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </ol>

</div>