<div class="appendex a">
    <div class="appendixTitle"><a id="appendix_a"></a>Appendix A: Field Diagram</div>
    <table class="fieldDiagram">
        <tbody>
            <tr>
                <td colspan=2><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/field.png" /></td>
            </tr>
            <tr>
                <td id="field_lines"><img src="https://raw.githubusercontent.com/andrewlovseth/2020-2021-rules-of-ultimate/master/images/lines.png" /></td>
                <td id="field_line_names">
                    Perimeter Line<br />
                    Goal Line<br />
                    Team Line<br />
                    Equipment Line
                </td>
            </tr>
        </tbody>
    </table>
</div>